.scroll-up-btn{
	z-index: 9999;
	position: fixed;
	cursor: pointer;
	right: 25px;
	bottom: 25px;
	opacity: 0;
	transition: 0.5s;
	display: none;
}
.scroll-up-btn img{
	width: 100px;
	height: 100px;
}
.scroll-up-btn-visible{
	display: block;
	opacity: 0.7;
}
.scroll-up-btn-visible:hover{
	opacity: 1;
}